
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
  html
  {
    scroll-behavior: smooth;
  }
.header
{
    border-radius: 10px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0px 0px 4px rgb(202, 201, 201);
}
.logo
{
    font-size: 25px;
    font-weight: bold;
    color: #27304c;
}
.bars
{
    visibility: hidden;
}
.nav-List
{
    float: right;
    box-shadow: 0px 0px 40px transparent;
}
.navItem
{
    display: inline-block;
    padding-left: 30px;
}
.navLink
{
    font-size: 20px;
    text-decoration: none;
    color: darkslategray;
}
.navLink:hover
{
    color: orangered;
}
.projects
{
    padding: 8px 15px;
    background-color: orangered;
    border-radius: 10px;
    color: white;
}
.projects:hover
{
    color: white;
    background-color: rgb(187, 55, 7);
}
.xmark
{
    visibility: hidden;
}
@media(max-width:768px)
{
    .header
    {
        display: flex;
        justify-content: space-between;
    }
    .bars{
        visibility: visible;
        margin-top: 10px;
    }
    .xmark
    {
        visibility: visible;
        background-color: black;
        padding: 10px 13px;
        border-radius: 50%;

    }
    .nav-List
    {
        position: absolute;
        height: 100vh;
        width: 70%;
        background-color: #e8f7fb ;
        color: white;
        left: -100%;
        top: 0;
        padding: 50px;
        margin-top: -25px;
        margin-left: -25px;
    }
    .navItem
    {
        display: block;
        margin-top: 20px;
    }
}
@media(max-width:425px)
{
    .nav-List
    {
        margin-left: 0;
    }
    .header
    {
        border-radius: 0;
    }
}


/*       Home Container    */
.gap
{
    height: 100px;
    background: linear-gradient(to right,#c9d6ff,#e2e2e2); 
}
.home
{
   background: linear-gradient(to right,#c9d6ff,#e2e2e2); 
}
.name{
    font-size: 55px;
    font-family: 'Poppins',sans-serif;
    color: #27304c;
}
.image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.web
{
    font-variant: small-caps;
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg,rgb(248, 22, 67),rgb(0, 224, 253));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:768px)
{
    .image{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .description
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:425px)
{
    .dhivakaran
    {
        width: 280px;
    }
    .name{
        font-size: 38px;
    }
    .web{
        font-size: 30px;
    }
}




/*    Bubbles Animation   */


.bubbles{
    position: absolute;
    display: flex;
}
.bubbles span 
{
    position:relative;
    width: 15px;
    height: 15px;
    margin: 0 25px;
    border: 2px solid rgb(248, 17, 179);
    border-radius: 50%;
    animation: animate 20s linear infinite;
    animation-duration: calc(400s / var(--i));
}

.bubbles span:nth-child(even)
{
    border: 2px solid rgb(247,210,4);

}

@keyframes animate{
    0%{
        transform: translateY(10px) scale(0);
    }
    100%{
        transform: translateY(-557vh) scale(1);
    }
}
@media(max-width:768px)
{
    .bubbles span 
    {
        margin: 0 3px;
        animation: animate 20s linear infinite;
        animation-duration: calc(400s / var(--i));
    }
    @keyframes animate{
        0%{
            transform: translateY(10px) scale(0);
        }
        100%{
            transform: translateY(-917vh) scale(1);
        }
    }
}


/*     Pro Skills     */


.proSkills{
    background: linear-gradient(45deg,white,white,white,#f6ddd9,#d4aaf2);
}
.logoList
{
    position: relative;
    display: flex;
}
.logoList span
{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 1px 1px 4px rgb(167, 165, 165);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
}
.logoList span:nth-child(1)
{
    background-image: url(logos/html-5.png);
}
.logoList span:nth-child(2)
{
    background-image: url(logos/css.png);
}

.logoList span:nth-child(3)
{
    background-image: url(logos/bootstrap.png);
}
.logoList span:nth-child(4)
{
    background-image: url(logos/js.png);
}
.logoList span:nth-child(5)
{
    background-image: url(logos/sql.png);
}
.logoList span:nth-child(6)
{
    background-image: url(logos/ps.png);
}

@media(max-width:375px)
{
    .logoList span 
    {
        height: 32px;
        width: 32px;
        background-size: 25px;
    }
}


/*   Service Container   */



.serviceContainer
{
    display: flex;
    flex-direction: row;
}
.serviceList
{
    padding: 0px 10px;
    background-color: #e8f7fb;
    border-radius: 10px;
}
.linearbackground
{
    background: linear-gradient(90deg,#ffccca,#ffbd7a,#cba9da);
    border-radius: 10px;
    padding: 15px;
}
.developer
{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}
.developerIcon
{
    padding-right: 30px;
}

.uiux, .design
{
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
}
.awe
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
@media(max-width:768px)
{
    .serviceContainer
    {
        display: flex;
        flex-direction: column-reverse;
    }
}



/*    Education Section     */


.bsc, .hsc, .sslc, .bed
{
    box-shadow: 0px 30px 40px -20px hsl(229,6%,66%);
    border-radius: 10px;
}
.bsc
{
    border-top: 4px solid rgb(0, 255, 200);
}
.hsc{
    border-top: 4px solid rgb(255, 153, 0) ;
}
.sslc
{
    border-top: 4px solid rgb(111, 0, 255);
}
.bed
{
    border-top: 4px solid rgb(175, 10, 10);
}

/*    Strength Section     */


.strengthContainer
{
    border-radius: 10px;
    box-shadow: 0px 30px 40px rgb(233, 121, 248);
}


/*   Contact Section    */


.contact-col 
{
    background-color: rgb(2, 2, 29);
    border-radius: 25px;
}
.just
{
    justify-content: space-around;
}
.form
{
    background-color: white;
    border-radius: 14px;
}
.form label 
{
    font-weight: bold;
    margin-top: 10px;
}
.message
{
    font-size: 13px;
    border: none;
    outline: none;
    background-color: rgba(223, 221, 217, 0.342);
}
.form input
{
    border: 1px solid;
    border-color: rgba(185, 185, 185, 0.753);
    border-radius: 3px;
    outline-color: blue;
}
.form input:hover
{
    border-color: blue;
}
.button 
{
    display: flex;
    justify-content: flex-end;
}
.button button 
{
    font-size: 13px;
}
.icons-gap
{
    gap: 15px;
}
.social-icon 
{
    padding: 10px 14px;
    transition: .2s;
    border-radius: 50%;
}
.social-icon:hover
{
    transition: .2s;
    padding: 10px 14px;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px magenta;
}

/*  Footer Section  */

.footer 
{
    background-color: rgb(5, 1, 24);
}